/*.logo {*/
/*  float: left;*/
/*  width: 120px;*/
/*  height: 31px;*/
/*  margin: 16px 24px 16px 0;*/
/*  background: rgba(255, 255, 255, 0.3);*/
/*}*/




.logo h1{
  float: left;
  color: aqua;
  margin-left: 17px;
  font-size: 50px;
}


.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.menu-mor {
  float: right;
  margin: 0px 3px 0px;
  background-color: black;
}
.bnt-put-del {
  text-align: center;

}
.nav-link {
  color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border-right: 1px solid white;
}

.nav-link:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /*padding: 6px;*/
}
.nav-link-reg {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border-left: 1px solid white;
  border-right: white;
}
.nav-link-reg:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
}
.login-register {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: auto;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.login-tr {
  width: auto;
}

.login-tr td {
  padding: 6px;
  width: auto;
}
.nav-link-home {
  float: right;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}
.list-group li{
  list-style-type: none;
  font-size: 24px;
}
.list-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: bisque;
}
.list-user:hover {
  background-color: beige;
  font-size: 18px;
}
.ant-layout-sider-children {
  background-color:white;
}
.rc-footer {
  bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
}
.rc-footer a {
  color: aqua;
}
.information {
  font-size: 30px;
}
.ant-modal-body {
  display: flex;
  justify-content: center;
}
.ant-modal-title   {
  font-size: 25px!important;
  text-align: center;
}








